<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>24E6FF031D0B927E00136C0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24E6FF1C1D0B927E00136C0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24E6FF271D0B927E00136C0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
